<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Big Market</title>

    <link rel="stylesheet" href="public/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="public/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="public/bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="public/bower_components/font-awesome/fonts/fontawesome-webfont.woff2">
    <link rel="stylesheet" href="public/css/style.css">
    <link rel="stylesheet" href="public/css/cart.css">
</head>
<body>
    <!-- header -->
    <header>
        <div id="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 header-top-left">
                        <div class="col-md-5 info-email">
                            <span>
                                <i class="glyphicon glyphicon-envelope"></i>
                                <span>run01@runtime.vn</span>
                            </span>
                        </div>
                        <div class="col-md-7 info-phone">
                            <span>
                                <i class="glyphicon glyphicon-earphone"></i>
                                <span>0908 77 00 95</span>
                            </span>
                        </div>
                    </div>

                    <div class="col-md-7 header-top-right navbar-form navbar-right">
                        <span class="account-control">
                            <a href="#">Đăng nhập</a>
                            <a href="">/</a>
                            <a href="#">Đăng kí</a>
                        </span>
                        <span class="search-wrapper">
                            <input type="text" name="search" placeholder="Tìm kiếm ...">
                            <i class="glyphicon glyphicon-search"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="header-main">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 menu-wrapper">
                        <nav class="navbar navbar-default">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" 
                                    data-toggle="collapse" 
                                    data-target="#menu">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>

                                <div class="logo-wrapper">
                                    <div class="logo">
                                        <a href="index.html" class="navbar-brand">
                                            <img src="public/images/logo/logo.png" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="navbar-collapse collapse" id="menu">
                                <ul class="nav navbar-nav navbar-right">
                                    <li><a href="index.html">Trang chủ</a></li>
                                    <li><a href="#">Giới thiệu</a></li>
                                    <li class="dropdown menu-products">
                                        <a href="product-list.html" class="dropdown-toggle" 
                                            data-toggle="dropdown" 
                                            role="button" aria-haspopup="true">
                                            Sản phẩm
                                            <span class="glyphicon glyphicon-chevron-down">
                                            </span>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-left
                                            sub-menu-products">
                                            <li><a href="#">Mỹ phẩm</a></li>
                                            <li><a href="#">Thời trang</a></li>
                                            <li><a href="#">Nội thất</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Tin tức</a></li>
                                    <li><a href="#">Liên hệ</a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>

                    <div class="col-md-2 cart-wrapper">
                        <div class="cart">
                            <a href="#"><i class="glyphicon glyphicon-shopping-cart"></i></a>
                            <a href="#"><span>Giỏ hàng: 0</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header><!-- /header -->
    
    <!-- cart-main -->
    <div class="col-md-12 cart-main">
        <div class="container">
            <div class="cart-top">
                <ul class="col-md-12">
                    <li class="home"><a href="index.html">Trang chủ</a></li>
                    <li class="icon">>></li>
                    <li class="product"><a href="#">Giỏ hàng</a></li>
                </ul>
                <h3 class="col-md-12 title">Giỏ hàng của tôi</h3>
            </div>
            <!-- main-content -->
            <div class="col-md-12 main-content">
               <table class="table table-responsive list-item" width="100%">
                   <thead>
                       <tr>
                           <th>Sản phẩm</th>
                           <th>Hình ảnh</th>
                           <th>Giá</th>
                           <th>Số lượng</th>
                           <th>Thành tiền</th>
                           <th></th>
                       </tr>
                   </thead>
                   <tbody>
                       <tr>
                           <td><h5 class="name">Áo thun nữ Belike</h5></td>
                            <td><img src="public/images/product/ao-belike1_master.jpg" 
                                alt="" width="60px" height="65px"></td>
                            <td><span class="price">119,000đ</span></td>
                            <td><input type="number" value="1" class="tc item-quantity 
                                ng-valid ng-dirty ng-valid-number ng-touched" 
                                ng-model="InputQuantity" ng-init="InputQuantity=1" 
                                min="0" max="100"></td>
                            <td><span class="price">119,000đ</span></td>
                            <td><a href="#">
                                <span class="glyphicon glyphicon-trash"></span></a></td>
                       </tr>

                       <tr>
                           <td><h5 class="name">Áo kiểu nữ cổ yếm </h5></td>
                            <td><img src="public/images/product/ao-yem-1_master.jpg" 
                                alt="" width="60px" height="65px"></td>
                            <td><span class="price">119,000đ</span></td>
                            <td><input type="number" value="1" class="tc item-quantity 
                                ng-valid ng-dirty ng-valid-number ng-touched" 
                                ng-model="InputQuantity" ng-init="InputQuantity=1" 
                                min="0" max="100"></td>
                            <td><span class="price">119,000đ</span></td>
                            <td><a href="#">
                                <span class="glyphicon glyphicon-trash"></span></a></td>
                       </tr>
                   </tbody>
               </table>

               <div class="total-price" align="right">
                   <span class="text">Tổng thanh toán: </span>
                   <span class="price">238,000đ</span>
               </div>

                <div class="box-action" align="right">
                    <a href="product-list.html" class="buy-continue">
                        Tiếp tục mua hàng
                    </a>
                    <a href="payment.html" class="checkout">
                        Tiến hành thanh toán
                    </a>
                </div>
            </div><!--/main-content -->
        </div>
    </div><!-- /cart-main -->

    <!-- slider-logo -->
    <div class="col-md-12 slider-logo">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-xs-4">
                    <img src="public/images/logo/partner_img_1.png" 
                        alt="" class="img-responsive">
                </div>
                <div class="col-md-2 col-xs-4">
                    <img src="public/images/logo/partner_img_2.png" 
                        alt="" class="img-responsive">
                </div>
                <div class="col-md-2 col-xs-4">
                    <img src="public/images/logo/partner_img_3.png" 
                        alt="" class="img-responsive">
                </div>
                <div class="col-md-2 col-xs-4">
                    <img src="public/images/logo/partner_img_4.png" 
                        alt="" class="img-responsive">
                </div>
                <div class="col-md-2 col-xs-4">
                    <img src="public/images/logo/partner_img_5.png" 
                        alt="" class="img-responsive">
                </div>
                <div class="col-md-2 col-xs-4">
                    <img src="public/images/logo/partner_img_6.png" 
                        alt="" class="img-responsive">
                </div>
            </div>
        </div>
    </div><!-- /slider-logo -->
    
   <!--  footer -->
    <footer class="footer">
        <div class="col-md-12 footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 hrv_sp">
                        <div class="hrv-icon">
                            <img src="public/images/icon/support_img_1.png" alt=""
                                class="img-responsive">
                        </div>
                        <div class="hrv-text">
                            <h4>24/7</h4>
                            <p>Hỗ trợ miễn phí</p>
                        </div>
                    </div>

                    <div class="col-md-4 hrv_sp middle">
                        <div class="hrv-icon">
                            <img src="public/images/icon/support_img_2.png" alt=""
                                class="img-responsive">
                        </div>
                        <div class="hrv-text">
                            <h4>100% hoàn tiền</h4>
                            <p>Bảo hành</p>
                        </div>
                    </div>

                    <div class="col-md-4 hrv_sp">
                        <div class="hrv-icon">
                            <img src="public/images/icon/support_img_3.png" alt=""
                                class="img-responsive">
                        </div>
                        <div class="hrv-text">
                            <h4>Miễn phí Shipping</h4>
                            <p>Trên 5 đơn hàng</p>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /footer-top -->
        
        <!-- footer-content -->
        <div class="col-md-12 footer-content">
            <div class="container">
                <div class="col-md-3">
                    <h3 class="heading-title">
                        Về chúng tôi
                    </h3>
                    <ul>
                        <li><a href="#">Giới thiệu</a></li>
                        <li><a href="#">Giao hàng - Đổi trả</a></li>
                        <li><a href="#">Chính sách bảo mật</a></li>
                        <li><a href="#">Liên hệ</a></li>
                    </ul>
                </div>

                <div class="col-md-3">
                    <h3 class="heading-title">
                        Trợ giúp
                    </h3>
                    <ul>
                        <li><a href="#">Hướng dẫn mua hàng</a></li>
                        <li><a href="#">Hướng dẫn thanh toán</a></li>
                        <li><a href="#">Tài khoản giao dịch</a></li>
                    </ul>
                </div>

                <div class="col-md-3">
                    <h3 class="heading-title">
                        Kết nối với chúng tôi
                    </h3>
                    <ul>
                        <li>
                            <a href="#">
                                <i class="fa fa-facebook"></i>
                                <span>Facebook</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-google-plus"></i>
                                <span>Google Plus</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-twitter"></i>
                                <span>Twitter</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-flickr"></i>
                                <span>Flickr</span>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-3">
                    <h3 class="heading-title">HÃY ĐẾN VỚI CHÚNG TÔI</h3>
                </div>
            </div>
        </div><!-- /footer-content -->

        <div class="col-md-12 footer-bottom">
            <div class="container">
                <div class="col-md-6">
                    <p><a href="#">Copyright © 2016 Big Market. Powered by RUNTIME.VN</a></p>
                </div>

                <div class="col-md-6">
                    <p class="pull-right">
                        <img src="public/images/icon/payment-logo.png" alt="">
                    </p>
                </div>
            </div>
        </div>
    </footer><!-- footer -->

    <script src="public/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="public/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
